header {
    display: inline-flex;
}

.header-spacing {
    padding-left: 800px;
}

header ul {
    display: inline-flex;
    list-style-type: none;
}

header ul li {
    margin-left: 50px
}

.compact-card-organizacija, .compact-card-info, .compact-card-clanstvo{
    width: 500px;
}

.compact-card-info{
    margin-left: 500px;
}

.container-cards {
    display: flex;
    flex-direction: row;
}

h1 {
    color: #16a085;
}

h2 {
    color: #2c3e50;
}

p {
    color: #34495e;
}

#prijava-clanstvo {
    margin-top: 20px;
    width: 150px;
    height: 50px;
}