header {
    display: inline-flex;
}

.header-spacing {
    padding-left: 1100px;
}

header ul, footer ul{
    display: inline-flex;
    list-style-type: none;
}

header ul li {
    margin-left: 50px
}

.compact-card-organizacija, .compact-card-info, .compact-card-clanstvo {
    width: 500px;
}

/* razmak izmedu kartica*/

.compact-card-info, .clanstvo-slika {
    margin-left: 250px;
}

.compact-card-organizacija, .compact-card-clanstvo, footer h1 {
    margin-left: 50px;
}

.compact-card-clanstvo, .clanstvo-slika {
    margin-top: 150px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    color: #16a085;
}

h2 {
    color: #2c3e50;
}

p {
    color: #34495e;
}

#prijava-clanstvo {
    margin-top: 20px;
    width: 150px;
    height: 50px;
}

h1, h2, h3 {
    padding: 0px;
}
footer{
    background-color: #ecf0f1;
    margin: 0px;
}

footer ul{
    margin: 15px;
}